.viewer-chart-axis path,
.viewer-chart-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.viewer-chart-axis {
    font-size: 0.8em;
}

.x.viewer-chart-axis path {
  display: none;
}

.viewer-chart-line {
    fill: none;
    stroke-width: 1.5px;
}

.viewer-chart-area {
    fill-opacity: 0.4;
    stroke: none;
    pointer-events: none;
}

.viewer-chart-line.history {
    fill: none;
    stroke-width: 1.5px;
    stroke-dasharray: 3, 3;
}

.viewer-chart-area.history {
    stroke: none;
    fill-opacity: 0.1;
    pointer-events: none;
}

.viewer-chart-bar {
    stroke: none;
}

.viewer-chart-bar.history {
    stroke: none;
    fill-opacity: 0.5;
}

.viewer-chart-dot {
  stroke: #FFFFFF;
  stroke-width: 2px;
}

.viewer-chart-dot:hover {
}

.series-hidden {
  color: #888888 !important;
}